/**********************************
GENERAL
***********************************/

body {
font-family: 'Josefin Sans', sans-serif;
font-size: 1.2em;

}

/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Maven Pro', sans-serif;*/

/**********************************
Header
***********************************/
header{
  text-align:center;

}

#name{
  margin-bottom: -10px;

}


#tagline{
  font-size: .85em;
  margin-bottom:10px;
}


/**********************************
Body
***********************************/

#face{
  border-radius: 100%;
  display:block;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 45px;
  width: 200px;
  height: 200px;
}

section {
  text-align: center;
}

section div{
  list-style: none;
  padding:0;
  height:auto;
}

section div p{
  width:300px;
  margin: 0 auto 0 auto;
  text-align: center;

}

section div p a{
  text-decoration: underline;
  color:black
}

section div p a:hover{
  background-color: black;
  color:white;
}

/**********************************
Footer
***********************************/

footer{
  text-align:center; 
  font-size: .75em;
  margin-top:40px;
}

footer ol{
  list-style: none;
  margin: 0 auto;
  padding:0;
}

footer ol li{
  display:inline-block;
}
img.footer_icon{
height: auto;
width:30px;
margin:auto 20px;
}

img.mail_icon{
  height:auto;
  width:25px;
  margin:auto 20px;
}

/**********************************
Color
***********************************/


