@media only screen and (min-device-width: 700px){

/*section{

}

#face {
  display: inline-block;
  border-radius: 0%;
  margin-left: 0;

}

section div{
  margin-right: 0;
}

section div p{
  display: inline-block;



}
*/

  #face{
    display: inline-block;
  
  }

  section{margin: 0 15% 0 15%;
  }

  section div{
    display:inline-block;
    margin: 0 0 0 15%;
  }

  section div p{
    width: 300px;
  }


  footer ol{
    margin: 40px auto 0 auto; 
}